root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# Zwei Leerzeichen am Zeilenende sind in Markdown ein Zeilenumbruch.
trim_trailing_whitespace = false

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
