<footer class="site-footer">
  <div class="container site-footer__inner">
    <p class="site-footer__contact">
      <strong>Lüscher Wohnen AG</strong><br>
      Weite Gasse 9, 5400 Baden<br>
      <a href="tel:+41562227852">+41&nbsp;56&nbsp;222&nbsp;78&nbsp;52</a><br>
      <a href="mailto:info@luescherwohnen.ch">info@luescherwohnen.ch</a>
    </p>
    <nav aria-label="Rechtliches">
      <ul class="site-footer__links">
        <li><a href="/impressum.html">Impressum</a></li>
        <li><a href="/datenschutz.html">Datenschutz</a></li>
      </ul>
    </nav>
    <p class="site-footer__copyright">© {{year}} Lüscher Wohnen AG</p>
  </div>
</footer>
